  @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
  h1 { 
    font-family: 'Pacifico', cursive;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
    font-size: 50px;
    margin-left: 67px;
    text-align: left;
    color: white;
  }

  h2, .votingCh {
    text-align: left;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    margin-left: 67px;
  }

  .votingenddate {
    text-align: left;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    margin-left: 67px;
  }

  .form-container {
    margin: 30% auto;
    display: block;
    width: 600px;
    height: 680px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(81, 255, 0);
    padding-top: 2rem;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow: hidden;
  }

  #div {
    margin: 30% auto;
    display: block;
    width: 600px;
    height: 680px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(81, 255, 0);
    padding-top: 2rem;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-anchor: none;
    overflow: auto;
  }
  
  body {
    margin: 0 auto;
    font-family: Arial;
    background-color: rgb(69, 97, 243);
    color: white;
  }
  
  .form-container input, #votingchoices {
    margin-bottom: 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    height: 25px;
    width: 77%;
    border-radius: 4px;
    background-color: white;
    border: 1px solid black;
    margin-right: 55px;
    margin-left: 67px;
    float: left;
  }

  .votingdescription {
    width: 77%;
    font-size: 15px;
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    margin-left: 67px;
    margin-top: 2px;
    margin-bottom: 20px;
    text-align: left;
  }

  button {
    margin-top: 45px;
    margin-bottom: 80px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    background-color: white;
    border: 1px solid black;
    color: black;
    height: 25px;
    width: 80px;
    margin-right: 5px;
    border-radius: 4px;
    float: right;
  }

  button:hover {
    background-color: rgb(242, 255, 0);
    cursor: pointer;
    transition: 0.4s; 
  }

  .logout {
    margin-right: 4.6rem;
  }
