  @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
  h1 {
    font-family: 'Pacifico', cursive;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
    font-size: 50px;
    color: white;
  }

  .form-container {
    margin: 30% auto;
    display: block;
    width: 320px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(81, 255, 0);
  }
  
  body {
    margin: 0 auto;
    font-family: Arial;
    background-color: rgb(69, 97, 243);
    color: white;
  }
  
  .form-container input {
    margin-bottom: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    height: 25px;
    border-radius: 4px;
    border: 1px solid black;
  }

  #address, #age, #email, #name, #surname {
    margin-left: 10px;
  }

  button {
    margin-top: 30px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    margin-bottom: 80px;
    background-color: white;
    border: 1px solid black;
    color: black;
    height: 25px;
    width: 80px;
    border-radius: 4px;
  }

  button:hover {
    background-color: rgb(242, 255, 0);
    cursor: pointer;
    transition: 0.4s; 
  }

  #Register {
    margin-left: 10px;
  }

  i {
    margin-left: -30px;
    cursor: pointer;
    color: black;
  }